body {
	height: 10000px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#febbbb+0,fe9090+45,722a2a+100 */
background: #febbbb; /* Old browsers */
background: -moz-linear-gradient(top, #febbbb 0%, #fe9090 45%, #722a2a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #febbbb 0%,#fe9090 45%,#722a2a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #febbbb 0%,#fe9090 45%,#722a2a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#722a2a',GradientType=0 ); /* IE6-9 */
}