

.p {
	position: absolute;
	top: -50px;
	font-size: 50px;
	font-family: 'Shrikhand', cursive;

}

.p:hover{
	color: pink; 
	transition: color;
	transition-duration: .5s;

}

.first {
	width: 200px;
	height: 150px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	background-color: pink;
	position: absolute;
	top: 150px;
	left: 0px;

}

.first_handle {
	width: 40px;
	height: 60px;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	background-color: green;
	position: absolute;
	top: 150px;
	left: 200px
}

.circle {
	width:80px;
	height: 80px;
	border-radius: 50%;
	background-color: #0099ff;
	position: absolute;
	top: 170px;
	left: 60px;
}

.circle2 {
	width:40px;
	height: 40px;
	border-radius: 50%;
	background-color: pink;
	position: absolute;
	top: 190px;
	left: 80px;

}

.middle {
	width: 200px;
	height: 150px;
	position: absolute;
	top: 150px;
	left: 700px;
	border-bottom-left-radius: 70%;
	border-bottom-right-radius: 70%;
	background-color: red;

}

.middle_handle {
	width: 40px;
	height: 60px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	background-color: yellow;
	position: absolute;
	left: 660px;
	top: 150px;
}

.stripe1 {
	width: 200px;
	height: 10px;
	background-color: black;
	position: absolute;
	top: 150px;
	left: 700px;
}

.stripe2 {
	width: 200px;
	height: 10px;
	background-color: black;
	position: absolute;
	top: 180px;
	left: 700px;
}

.last {
	width: 200px;
	height: 150px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	background-color: #0099ff;
	border-width: 20px;
	position: absolute;
	right:0px;
	top: 150px;
}

.last_handle {
	width: 40px;
	height: 60px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	background-color: orange;
	position: absolute;
	right: 200px;
	top: 150px;
}

.square {
	width: 90px;
	height: 90px;
	border-radius: 10%;
	border: double;
	border-color: yellow;
	border-width: 10px;
	position: absolute;
	top: 160px;
	right: 45px;

}


a {
	position: fixed;
	bottom: 0px;
	color:black;
	font-family: 'Courier';

}

a:hover {
	color:blue;
	transition: color 2s;
}


#handler {
	position: absolute;
	bottom: 0px;
	left: 50%;
	font-size: 200px;
	text-align: center;
	font-family: 'Shrikhand', cursive;
	color: "white";


}
